<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Accounts</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<tr>
				<th width="10px">#</th>
				<th width="20%">Name</th>
				<th width="20%"></th>
				<th width="20%"></th>
				<th width="20%"></th>
				<th width="20%">Balance</th>
			</tr>
			<tr ng-repeat='account in accounts'>
				<td>{{account.id}}</td>
				<td>{{account.name}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{account.balance}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Positions</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<tr>
				<th width="10px">#</th>
				<th width="20%">Symbol</th>
				<th width="20%">Open Qty</th>
				<th width="20%">Avg Price</th>
				<th width="20%">Closed Pnl</th>
				<th width="20%"></th>
			</tr>
			<tr ng-repeat='position in positions'>
				<td>{{position.id}}</td>
				<td><a ng-href="#/stock/{{position.symbol}}">{{position.symbol}}</a></td>
				<td>{{position.openQuantity}}</td>
				<td>{{position.averageEntryPrice|formatPrice}}</td>
				<td><span
					ng-class="{positivePnlStyle: position.closedPnL>0, negativePnlStyle: position.closedPnL<0}">{{position.closedPnL|formatPrice}}</span></td>
				<td>
					<button class="btn btn-danger btn-block"
							ng-click="closePosition(position)"
							ng-show="position.openQuantity != 0">Close</button>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Orders</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<tr>
				<th width="10px">#</th>
				<th width="100px">Create Timestamp</th>
				<th width="100px">Symbol</th>
				<th width="100px">Side</th>
				<th width="100px">Type</th>
				<th width="100px">Qty</th>
				<th width="100px">Avg Price</th>
			</tr>
			<tr ng-repeat='order in orders'>
				<td>{{order.id}}</td>
				<td>{{order.creationTime}}</td>
				<td><a ng-href="#/stock/{{order.symbol}}">{{order.symbol}}</a></td>
				<td><strong
					ng-class="{buyStyle: order.side=='Buy', sellStyle: order.side=='Sell'}">{{order.side}}</strong></td>
				<td><strong
					ng-class="{mktOrderStyle: order.orderType=='Market'}">{{order.orderType}}</strong></td>
				<td>{{order.totalQuantity}}</td>
				<td>{{order.avgExecPrice|formatPrice}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">My Executions</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<tr>
				<th width="10px">#</th>
				<th width="100px">Timestamp</th>
				<th width="100px">Symbol</th>
				<th width="100px">Side</th>
				<th width="100px">Qty</th>
				<th width="100px">Price</th>
				<th width="100px">Commission</th>
			</tr>
			<tr ng-repeat='execution in executions'>
				<td>{{execution.id}}</td>
				<td>{{execution.timestamp}}</td>
				<td><a ng-href="#/stock/{{execution.symbol}}">{{execution.symbol}}</a></td>
				<td><strong
					ng-class="{buyStyle: execution.side=='Buy', sellStyle: execution.side=='Sell'}">{{execution.side}}</strong></td>
				<td>{{execution.quantity}}</td>
				<td>{{execution.price|formatPrice}}</td>
				<td>{{execution.commission|formatPrice}}</td>
			</tr>
		</table>
	</div>
</div>